/* Scrum bootscamp css */


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container {
	background-color: white;
	padding-bottom: 15px;
	margin: 9% auto;
}

html {
	height:100%;
}

body { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: robotolight, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-header{
	margin: 25px 0 35px;
	text-align: center;
}
#next, #finish{
	float: right;
}

h4{
	line-height: normal;
}

#quickToReport{
	float: right;
	padding: 0;
}

strong{
	font-weight: 700;
}

#timecounter{
	margin: 0 8px;
}

#counter{
	padding: 13px 0;
	border-bottom: 1px rgb(236, 236, 236) solid;
}

.bg-info{
	background-color: #f1f1f1;
}

.btn-link:hover, .btn-link:focus{
	text-decoration: none;
}
