<div class="page-header">
  	<h2>Auswertung</h2>
</div>
{{#if passed}}
<div class="alert alert-success"><strong><span class="glyphicon glyphicon-thumbs-up"></span> Super, Du hast bestanden!</strong> Na, wann wagst Du den Test? <p>{{right}} von {{length}} Fragen richtig - {{percentage}}%</p></div>
{{else}}
<div class="alert alert-danger"><strong><span class="glyphicon glyphicon-thumbs-down"></span> Mist, Du bist raus!</strong> Übe doch noch ein bisschen. <p>{{right}} von {{length}} Fragen richtig - {{percentage}}%</p></div>
{{/if}}

{{#each []}}
<div class="panel panel-default">
  <div class="panel-body {{#if notsure}}bg-warning{{else}}{{#if this.valid}}bg-success{{else}}bg-danger{{/if}}{{/if}}" >
  	<h4>{{@index}}. {{this.question}}</h4>
	  	{{#each this.answers}}
	  	  	<form role="form">
	  			<div class="form-group">
	  				<div class="checkbox has-feedback {{#if this.correct}}has-success{{else}}has-error{{/if}}">
	  				<label class="control-label">
	  					<input type="checkbox" {{#if this.userchoice}}checked{{/if}} disabled>{{this.answer}}
	  				</label>
	  				</div>
	  			</div>
	  		</form>
	  	{{/each}}
  	<div>Hinweis: {{this.hint}}</div>
  	{{#if link}}<a href="{{this.link}}" target="_blank">{{this.link}}</a>{{/if}}
  </div>
</div>
{{/each}}